<button class="nav-toggler" (click)="ShowHide()">{{ButtonText()}}</button>
<nav>
	<div id="NavDesktop">
		<a routerLink="{{ Routes.Index }}" routerLinkActive="active">Index</a>
		<a routerLink="{{ Routes.Biography }}" routerLinkActive="active">Biography</a>
		<a routerLink="{{ Routes.DevSkills }}" routerLinkActive="active">Developer Skills</a>
		<a routerLink="{{ Routes.Contacts }}" routerLinkActive="active">Contacts</a>
	</div>
	<div id="NavMobile" [class.nav-hide]="IsShown">
		<a routerLink="{{ Routes.Index }}" routerLinkActive="active">Index</a>
		<a routerLink="{{ Routes.Biography }}" routerLinkActive="active">Biography</a>
		<a routerLink="{{ Routes.DevSkills }}" routerLinkActive="active">Developer Skills</a>
		<a routerLink="{{ Routes.Contacts }}" routerLinkActive="active">Contacts</a>
	</div>
</nav>
