<main id="Main">
	<section class="section-images">
		<img srcset="/images/DSC06506_2000.webp 2000w,
                    /images/DSC06506_1500.webp 1500w,
                    /images/DSC06506_1000.webp 1000w,
                    /images/DSC06506_750.webp 750w,
                    /images/DSC06506_500.webp 500w,
                    /images/DSC06506_250.webp 250w"
				 src="/images/DSC06506_2000.webp"
				 sizes="(max-width: 1000px) 90vw, 40vw"
				 alt="Photo" loading="lazy">
	</section>
	<article class="article-text">
		<h1>About me</h1>
		<p>My name is Ivan Pavlov. Currently, I live in Russia, Saint-Petersburg and originally I am from Vologda, which is a town in North-West Russia.</p>
		<p>I am ready to relocate to Central Europe and Canada.</p>
		<p>I have graduated </p>
		<p>My job career started from a position on production plant as a quality manager, but after several months of work I understood that this responsibilities and salary are what I want to be my profession.</p>
		<p>My hobbies are riding bicycle and photography. I prefer an active rest.</p>
		<p>This website is built on Blazor WA.<br> The source code can be found on <a href="https://gitlab.com/gutehaltung/ivan-pavlov-cv">GitLab</a>.</p>
	</article>
</main>
