/* You can add global styles to this file, and also import other style files */
@import "scss/root";
@import "assets/fonts/firacode";
@import "scss/headers";
@import "scss/index";
@import "scss/scss-variables";

html {
  font-family: FiraCode, monospace;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--colorBackground);
}

main {
  min-height: calc(100vh - #{$footer-min-height * 2});
}

.ng-valid[required], .ng-valid.required  {
  border-bottom-color: var(--colorFont) !important;
}

.ng-invalid:not(form)  {
  border-bottom-color: var(--colorRed) !important;
}
